.main-footer {
  display: flex;
  color: white;
  background-color: #382c2e;
  padding-top: 3em;
  position: relative;
  bottom: 0;
  width: 100%;
  flex-direction: row;
  align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
}

.row{
    max-width: 1200px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}



